<div class="row justify-content-center mt-4 mb-5">
  <div class="col-4 card p-5">
    <h2 class="mb-4">Editar dados</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs mb-3">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :full_name,
                    label: "Nome",
                    hint: "Deixe em branco se você não quiser alterar.",
                    required: false,
                    input_html: { autocomplete: "new-full-name" } %>
        <%= f.input :address,
                    label: "Endereço",
                    hint: "Deixe em branco se você não quiser alterar.",
                    required: false,
                    input_html: { autocomplete: "new-address" } %>
        <%= f.input :photo,
                    label: "Foto",
                    hint: "Deixe em branco se você não quiser alterar.",
                    required: false,
                    input_html: { autocomplete: "new-photo" } %>
        <%= f.input :password,
                    label: "Nova senha",
                    hint: "Deixe em branco se você não quiser alterar.",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirmação de senha",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    label: "Senha atual",
                    hint: "Digite sua senha para confirmar as alterações.",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Confirmar", class: "btn btn-primary mb-3" %>
      </div>
    <% end %>

    <h5>Apagar minha conta</h5>

    <div>
      <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?", turbo_confirm: "Tem certeza?" }, method: :delete, class: "btn btn-danger text-light mb-4" %>
      <%= link_to "Voltar", :back, class: "btn btn-secondary" %>
    </div>


  </div>
</div>
