<div class="container mt-4 mb-5">
  <h1 class="text-start mt-4 mb-4">Todos os Saxofones</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @saxophones = @saxophones.sort_by(&:id).reverse %>
    <% @saxophones.each do |sax| %>
      <div class="col-3 d-flex justify-content-center">
        <div class="card rounded-4 my-shadow shadow-sm ps-3 pe-3" style="width: 400px; height: 560px">
          <p class="card-text fw-bold text-start mt-4 ms-2" style="color:#bf4800"><%= sax.manufacturer %></p>

          <% url = "" %>
          <% if sax.photo.key
              url = cloudinary_url sax.photo.key
            else
              url = "https://i.pinimg.com/564x/2f/2f/58/2f2f5837fffa68b9b300c99eee660268.jpg"
            end
          %>
          <div class="img-container-card">
            <img src= <%=url%> class="rounded-4" alt="...">
          </div>

          <div class="card-body ps-1 mb-2">
            <div class="d-flex flex-column">
              <p class="card-text fw-bold mb-2"><%= sax.title %></p>
              <p class="card-details"><%= "#{sax.details[0..40]}..." %></p>
              <div class="d-flex justify-content-between align-items-center mt-3">
                <p class="card-price"><%= number_to_currency_br(sax.price) %></p>
                <%= link_to "Detalhes", saxophone_path(sax), class: "btn btn-light fw-bold rounded-2 shadow-sm" %>
              </div>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
