<div class="banner" style="background-image: linear-gradient(to bottom, rgba(255, 179, 0, 0), rgba(0, 0, 0, 1)), url(https://c0.wallpaperflare.com/preview/857/353/296/music-saxophone-summer-gold.jpg);">
  <div class="container">
    <h1>Encontre o saxofone dos seus sonhos</h1>
    <p>Instrumentos semi-novos</p>
    <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: saxophones_path, method: :get, class: "d-flex search-form" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control search-bar",
              placeholder: "Digite aqui ..."
          %>

        <%= button_tag(type: "submit", class: "btn-search") do %>
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>

<div class="container mt-4 mb-5">

  <div class=" cards mb-4 w-100">
    <%= link_to saxophones_path(category: "Saxofone Soprillo"), class: "text-decoration-none"  do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2020/02/11/22/36/jazz-4841134_1280.jpg)">
        Soprillo
      </div>
    <% end %>
    <%= link_to saxophones_path(category: "Saxofone Sopranino"), class: "text-decoration-none"  do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.shopify.com/s/files/1/0301/6081/4139/products/sopraninoweb.jpg?v=1641561203">
        Sopranino
      </div>
    <% end %>
    <%= link_to saxophones_path(category: "Saxofone Soprano"), class: "text-decoration-none"  do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2015/07/13/11/19/instrument-843033_1280.jpg)">
        Soprano
      </div>
    <% end %>
    <%= link_to saxophones_path(category: "Saxofone Alto"), class: "text-decoration-none"  do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2017/08/15/13/31/instrument-2643927_1280.jpg)">
        Alto
      </div>
    <% end %>
    <%= link_to saxophones_path(category: "Saxofone Tenor"), class: "text-decoration-none"  do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2018/05/28/10/17/saxophone-3435687_1280.jpg)">
        Tenor
      </div>
    <% end %>
    <%= link_to saxophones_path(category: "Saxofone Barítono"), class: "text-decoration-none"  do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2015/07/13/11/09/saxophone-843021_1280.jpg)">
        Barítono
      </div>
    <% end %>
    <%= link_to saxophones_path(category: "Saxofone Baixo"), class: "text-decoration-none"  do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2015/07/13/11/13/instrument-843024_1280.jpg)">
        Baixo
      </div>
    <% end %>

    <%= link_to saxophones_path(category: "Saxofone Contrabaixo"), class: "text-decoration-none"  do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2015/07/13/11/24/instrument-843045_1280.jpg)">
        Contrabaixo
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-4 mb-5">
  <div class="cards-add p-2 mb-4">
  <% @saxophones = @saxophones.sort_by(&:id).reverse %>
  <% @saxophones.each do |sax| %>
    <% if sax.status != true %>
      <div class="card-category-add">

        <% url = "" %>
        <% if sax.photo.key
            url = cloudinary_url sax.photo.key
          else
            url = "https://i.pinimg.com/564x/2f/2f/58/2f2f5837fffa68b9b300c99eee660268.jpg"
          end
        %>

        <div class="img-container-card">
          <img src= <%=url%> alt="sax pic">
        </div>

        <div class="card-info">
          <div class="d-flex gap-3 mb-2 justify-content-between">
            <p class="card-title-add pt-2"><%= sax.title %></p>
            <% sax_url = "" %>
            <% if sax.user.photo.key
                sax_url = cloudinary_url sax.user.photo.key
              else
                sax_url = "https://cdn-icons-png.flaticon.com/512/6386/6386976.png"
              end
            %>
            <%= link_to user_saxophones_path(sax.user) do %>
            <img src="<%=sax_url%>" class="rounded-circle avatar-image" alt="...">
            <% end %>
          </div>

          <div class="d-flex gap-3 mb-2">
            <p class="card-title-text" style="color:#bf4800"><%= sax.manufacturer %></p>
            <p class="card-title-text" style="color:#bf4800"><%= sax.sax_model %></p>
          </div>
          <p class="card-details"><%= "#{sax.details[0..40]}..." %></p>
          <div class="d-flex justify-content-between align-items-center">
            <p class="card-price"><%= number_to_currency_br(sax.price) %></p>
            <%= link_to saxophone_path(sax), class:"btn-details" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
