<div class="container">
  <h1 class="text-start mt-4 mb-4">Todos os Saxofones</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @saxophones.each do |sax| %>
      <div class="col-3 d-flex justify-content-center">
        <div class="card rounded-4 my-shadow shadow" style="width: 400px; height: 560px">
          <p class="card-text fw-bold text-start mt-4 ms-4" style="color:#bf4800"><%= sax.manufacturer %></p>

          <% url = "" %>
          <% if sax.photo.key
              url = cloudinary_url sax.photo.key
            else
              url = "https://i.pinimg.com/564x/2f/2f/58/2f2f5837fffa68b9b300c99eee660268.jpg"
            end
          %>
          <div class="img-container-card">
            <img src= <%=url%> class="p-2" alt="...">
          </div>

          <div class="card-body d-flex justify-content-around align-items-start">
            <div class="d-flex flex-column align-items-start">
              <p class="card-text fw-bold"><%= sax.title %></p>
              <p class="card-text fw-bold card-title"><%= number_to_currency_br(sax.price) %></p>
            </div>

            <div class="mt-3">
              <%= link_to "Detalhes", saxophone_path(sax), class: "btn border fw-bold rounded-4 shadow" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
